body {
  background-color: #bd322d;
}

tbody {
  background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 15px;
    
  }

  .place {
    width: 100%;
    text-align: center;
  }
  
  table td {
    border: 1px solid;
    text-align: center;
  }
  
  table th {
    background: lightblue;
    padding: 4px 30px 4px 8px;
  }

#data, input, button{
  height: 25px;
}

